wsdl/Air_RebookAirSegment_20_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/ARBKUQ_20_1_1A" xmlns="http://xml.amadeus.com/ARBKUQ_20_1_1A" elementFormDefault="qualified">
  <xs:element name="Air_RebookAirSegment">
    <xs:annotation>
      <xs:documentation xml:lang="en">An API client requests a rebook on a flight segment in a PNR.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rebookOption" minOccurs="0" type="SelectionDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segment contains the rebook option. It can reference the Best Pricer recommendation selected by the user.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="originDestinationDetails" maxOccurs="99">
          <xs:annotation>
            <xs:documentation xml:lang="en">This is for connected/not connected air segments. It will contain the information we need to process the request.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="originDestination" type="OriginAndDestinationDetailsTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To convey the origin and destination of a journey.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="itineraryInfo" maxOccurs="20">
                <xs:annotation>
                  <xs:documentation xml:lang="en">It represents all segments for a given city pair. It will contain the segment information and its associated action requested.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flightDetails" type="TravelProductInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To specify details related to a flight. This segment contains everything we need to identify a flight within the PNR.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="relatedFlightInfo" type="RelatedProductInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">To indicate number in party and action required in relation to a flight. Cancel and sell action code will be given in this segment.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCompany" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Marketing company</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trueLocationId" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">This is the board/off point coded on 3 characters.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarriageControlDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify details concerning the marriage status of travel product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="relation" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="marriageIdentifier" minOccurs="0" type="NumericInteger_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lineNumber" minOccurs="0" type="NumericInteger_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherRelation" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="carrierCode" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="origin" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Place of origin: 3 characters</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destination" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Place of destination: 3 characters</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the dates and times associated with a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureDate" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure Date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureTime" minOccurs="0" type="NumericInteger_Length1To4" />
      <xs:element name="arrivalDate" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalTime" minOccurs="0" type="NumericInteger_Length1To4" />
      <xs:element name="dateVariation" minOccurs="0" type="NumericInteger_Length1To1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code, number or name to identify a specific product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightNumber" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bookingClass" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class of service.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Class suffix.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductTypeDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify additional characteristics of a product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightIndicator" maxOccurs="9" type="AlphaNumericString_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedProductInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate quantity and action required in relation to a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantity" type="NumericInteger_Length1To15">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number in party.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusCode" minOccurs="0" maxOccurs="10" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status code. It should be OX (cancel) or NN (sell).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a selected option and associated              information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To3" />
      <xs:element name="optionInformation" type="NumericInteger_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" maxOccurs="9" type="SelectionDetailsInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Selection details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelProductInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightDate" type="ProductDateTimeTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight Date details:  - departure date and time  - Arrival date and time  - Date variation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="boardPointDetails" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location details for the Board point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offpointDetails" minOccurs="0" type="LocationTypeI" />
      <xs:element name="companyDetails" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightIdentification" type="ProductIdentificationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight details:  - flignt number  - class of service</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightTypeDetails" minOccurs="0" type="ProductTypeDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="itemNumber" minOccurs="0" type="NumericInteger_Length1To6">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specialSegment" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not required. If found it must be 'P'.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="marriageDetails" minOccurs="0" maxOccurs="99" type="MarriageControlDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Not used.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,6}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To15">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..15</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,15}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,1}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To6">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,10}" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009553C96EDB3010BDF32B885C7A282CCB4E1120067850BC3568EDA4B6733360D0E2D82642912A870AA206F9F70E25B94981026D2FC22CD42CEFBD994F97D355B6994E76774B314C87692FBDEA0DAEF9CC6B256B9E5E8F0697A3CB4F7CBED87C4CD3519AB26C9185BA049C690356162028B0BB91A8F34D0C27CFA8D85E222C2987A5CC419C422847FDFE7361125948051526B92BFA6C5F596560A2BDE82384A0ED11FB4AE7C8F213E48F6BFA1652045F01CB9D027A82C23A1BBDA2004B5E972B4A69EBD84ED8CA180A94B5D7C753101759DB8EDF7B577A0D41FA9A4BABF8D8D9835654434BC36FEDC1F94206EDEC88575656E1E4BCFE018A5708CD73A531370E2B0F1C83D7793035A77FF65A518D840FD341CA7BFCDC0C139960F48DE1AB3807F2154DEF9F4025174CC1415626CC7D19E152E2200D0253AEDA1B58C3F70A6C0EF732E4A72E03F6E69FC004FBF6E62512F4BA7B79028FB415591E0C5019B2E4913AD4AFEC40F4AD2A4398B9C864E33774363F47EB2F058CCBA5E92037EEA888C6F168FB799A4DB653A50F320F1BE70C6EA79BDD446390368C8929E28F98DB2EA47F84C878FB061BAE71FBD51DA9963D36836875674DCD0AF047E8C068EC9906A370ED7CF8051F2D8E34578611D3DF6313625D9B4E39F6BF202A9DB66109A1A5A3119B772EBC43A8F1A38013D6AE1011451105D14F075D0C67CE674653ED4EB1510B3A079C9092A83789B245110BE943ACFB6075AE43DD2D12BCB4681A7D123E82B0C67E5779932DFA2F0A8CA6352409E835A12C8BE3A9F7E74362199F6FA6AD499106AAE692B5CDD9339A705785B20A3367147811038CF57A8B16C60FC8F5DB9DF47AAC05490C32F6AEBFC8EEB35DA6FD6E985E92A60BA9ADC86E570C9E4BA26B27713799CEC566F5303DD3C3A507290657E93920B2D5CD97876FACA483D078228A5BE05B76C480AC271D2923B3414636208AD875057BE71EC95AC3316ECBCE44FD39DB714F74B19F8976FFC807050000
-->

